@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #39ff14;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: inherit; /* Inherit from next/font/google */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .neon-text {
    text-shadow: 0 0 5px #39ff14, 0 0 10px #39ff14, 0 0 20px #39ff14;
  }
}